/*Reset básico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilo geral*/
body{
    background-color: #000;
    color: #d4af37;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section{
    margin: auto;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    animation: aparecer 1s ease forwards;
    opacity: 0;
}

@keyframes aparecer {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.card {
    background-color: #1a1a1a;
    border: 1px solid #d4af37;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(210,175,55,0.3);
}

.sub-card {
    background-color: rgba(255, 255, 255, 0.02);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d4af37;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sub-card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 12px rgba(212, 175, 55, 0.3);
}

/*Cabeçalho*/
h1{
    color: #d4af37;
    font-size: 36px;
    margin-bottom: 18px;
    text-align: center;
}

h2{
    color: #d4af37;
    border-bottom: 2px solid #d4af37;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

/*Parágrafos e listas*/
p, li{
    color: #ccc;
    line-height: 1.5;
}

/*Lista sem decoração*/
ul{
    list-style-type: none;
    padding-left: 0;
}

/*Links*/
a{
    color: #d4af37;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover{
    text-decoration: underline;
    color: #fff;
}

/*Responsividade inicial*/
@media (max-width: 600px) {
    section{
        width: 80%;
        padding: 10px;
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 20px;
    }
.sub-card{
    padding: 10px;
    margin-bottom: 10px;
}

p,li{
    font-size: 14px;
}

}